// _header.scss

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $padding-section;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: $shadow-header;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    z-index: -1;
    border-radius: $radius-small;
  }

  .logo {
    font-size: $logo-font-size;
    color: $primary-color;
    font-weight: bolder;
    text-decoration: none;

    span {
      color: $accent-color;
    }
  }

  .navbar {
    a {
      font-size: $nav-font-size;
      padding: 0 1.5rem;
      color: $text-light;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .icons {
    a {
      font-size: 2.5rem;
      color: $primary-color;
      margin-left: 1.5rem;

      &:hover {
        color: $accent-color;
      }
    }

    .fas {
      text-decoration: none;
    }
  }

  #toggler {
    display: none;
  }

  .fa-bars {
    font-size: 3rem;
    color: $primary-color;
    border-radius: $radius-small;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    display: none;
  }
}

header {
  // Base styles...

  @include respond-max($breakpoint-lg) {
    padding: 2rem 3%;
  }

  @include respond-max($breakpoint-md) {
    padding: 1rem 2%;

    .fa-bars {
      display: block;
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .navbar a {
      margin: 1rem 0;
      padding: 1rem;
      display: block;
      text-align: center;
      font-size: 2rem;

      &:hover {
        background: #fff;
        color: $accent-color;
      }
    }

    #toggler:checked ~ .navbar {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
