.tital {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  font-size: 2.5rem;
  color: $primary-color;

  h2 {
    font-size: 2.5rem;
    color: $primary-color;
    padding-right: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  i {
    font-size: 2.5rem;
    color: $accent-color;
    margin-top: 1.5rem;
  }
}

.btn-b {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
