// _variables.scss

// Colors
$primary-color: #333;
$accent-color: var(--green);
$bg-highlight: #00800038;
$text-light: #666;
$white: #fff;

// Fonts
$heading-font-size: 4rem;
$logo-font-size: 3rem;
$nav-font-size: 2rem;
$btn-font-size: 1.7rem;

// Spacing
$padding-section: 2rem 9%;
$padding-btn: 0.9rem 3.5rem;
$radius-btn: 5rem;
$radius-small: 0.5rem;
$shadow-header: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
